@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
  --navbar-background: #000000;
  --navbar-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar-background: var(--navbar-background);
  --color-navbar-foreground: var(--navbar-foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground;
    @apply min-h-screen min-w-screen;
  }

  main {
    @apply w-1/2 mx-auto;
  }
}
